@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
.flex
{
display: flex;

}
.dark2 
{
color: #424242;
}
.dark3
{
color:#727272 ;
}
.komola
{
color: #FF900E;
}
.btn
{
background-color: #FF900E;
color: #ffffff;
padding: 20px;
font-weight: 600;
font-size: 1.25rem;
border-radius: 10px;
}




/* header styles  */
.bg-light
{
background-color:rgba(255, 144, 14, 0.1) ;
}




/* nav styles  */
.nav { 

justify-content: space-between;
align-items: center;
}
.nav-link
{
text-decoration: none;
justify-content: space-around;
font-weight: 500;
}
.nav-item
{
list-style: none;
margin-right:30px
}

.nav , .banner
{
max-width: 1440px ;
margin: 0 auto;
}
.banner-content
{
max-width: 850px ;
margin: 0 auto;
text-align: center;
margin-bottom: 50px;

}
.banner-title
{
font-weight: 700;
font-size: 4rem;
}

.brand
{
font-weight: 700;
font-size: 3rem;

}
.banner-title
{ 
text-align: center;
}
.banner-description
{
text-align: center;
}
.banner img {
width: 100%;
justify-content: center;
}

/* responsive media quary */

@media screen  and (max-width :576px) {
  .nav,.nav-link
{
flex-direction: column;
}
}